:root {
  --basic-black: #000;
  --black-opacity-007: rgba(0, 0, 0, 0.07);
  --black-opacity-02: rgba(0, 0, 0, 0.2);
  --black-opacity-04: rgba(0, 0, 0, 0.4);
  --extra-dark: #323232;
  --light-black: #5a5a5a;
  --basic-white: #fff;
  --bg-white: #fefefe;
  --white-opacity-02: rgba(255, 255, 255, 0.2);
  --white-opacity-04: rgba(255, 255, 255, 0.4);
  --white-opacity-08: rgba(255, 255, 255, 0.8);
  --dirty-white: #ededed;
  --grey-for-input-border: rgba(178, 178, 178, 0.52);
  --grey-for-input-text: #999;
  --light-grey-opacity-05: rgba(248, 247, 244, 0.5);
  --light-grey: rgb(248, 247, 244);
  --grey-cart-line: #cacac7;
  --grey-range-toggle: #ababab;
  --overlay: rgba(0, 0, 0, 0.3);
  --dirty-green: #849d8f;
  --dirty-orange: #d07058;
  --orange-link: #e84d37;
  --light-orange-link: #ffbc9e;
  --light-orange-link-opacity: rgba(255, 188, 158, 0.3);
  --light-orange: #fbded7;
  --middle-orange: #f6b5a5;
  --intense-orange-button: #e74a35;
  --orange-button: #f26843;
  --grey-shadow: #696969;
  --light-grey-bg: #f8f7f4;
  --light-grey-cart: #c4c4c4;
  --grey-underline: rgba(50, 50, 50, 0.3);
  --grey-icon-close: #2c2829;
  --red-shadow: #ac1000;
  --red-shadow-opacity: rgba(172, 16, 0, 0.64);
  --brown-shadow: #942718;
  --blue-border-input: rgba(46, 136, 228, 0.52);
  --orange-underline: rgba(232, 77, 55, 0.3);
  --red-text-shadow: rgba(160, 32, 11, 0.76);
  --raspberry-color: rgb(204, 0, 51);
  --choco-color: rgb(80, 25, 7);
  --beige-bg: #ece1b2;
  --text-shadow: rgba(49, 50, 53, 0.5);
  --green-blur: rgba(215, 242, 227, 0.75);
  --blue-blur: rgba(218, 228, 239, 0.75);
  --pink-blur: rgba(239, 224, 218, 0.75);
}

body {
  margin: 0 auto;
  width: 1200px;
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--dirty-green);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none;
}

.container-top-nav {
  display: flex;
  justify-content: space-between;
  height: 64px;
  margin: 0 27px 0 27px;
  padding-top: 9px;
  position: relative;
  z-index: 10;
}

.top-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 0 5px 0;
}

.top-nav li {
  list-style-type: none;
}

.top-nav ul {
  margin: 0;
  padding: 0;
}

.indicator1,
.indicator2,
.indicator3,
.indicator-active {
  width: 21px;
  height: 21px;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  margin-right: 5px;
}

.top-nav button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.address-info button {
  padding: 10px 28px;
}

.catalog-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 26px;
  grid-row-gap: 37px;
  margin: 40px 27px 0;
}

.catalog-items button,
.catalog-items button:active,
.catalog-items button:focus {
  border: none;
  border-radius: 50px;
}

.top-nav button:not(.header-button) {
  color: inherit;
}

.section-news button:active,
.section-news button:focus {
  outline: none;
}

.top-nav button:active,
.top-nav button:focus {
  outline: none;
}

.pages li {
  margin-left: 21px;
  position: relative;
}

.page {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumbs a,
.footer-menu a,
.htmlacademy-link {
  border-bottom: 1px solid var(--white-opacity-02);
}

.cart a {
  color: var(--basic-white);
}

.banner-news a {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--extra-dark);
  text-decoration: underline solid;
}

.address-info a,
.address-info span {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.login-form a {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--extra-dark);
  border-bottom: 1px solid var(--grey-underline);
  margin-top: 4px;
  display: inline-block;
  vertical-align: middle;
}

.inner-menu-li:first-child::after {
  content: "";
  width: 90%;
  height: 1px;
  background-color: var(--grey-underline);
  position: absolute;
  top: 37px;
  left: 7px;
}

.inner-menu-li a {
  border: none;
  height: 100%;
  width: 100%;
  padding: 9px 0 7px 21px;
  display: block;
  box-sizing: border-box;
}

.nav-left-li a {
  border-bottom: 1px solid var(--white-opacity-02);
  margin: 7px 14px;
}

.inner-menu a {
  border-bottom: none;
  margin: 0;
}

.page:hover.page::after,
.page:focus.page::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -8px;
  background-color: var(--white-opacity-02);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  z-index: -1;
}

.page:active.page::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -8px;
  background-color: var(--basic-white);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  z-index: -1;
}

.page-disable svg {
  fill: var(--white-opacity-02);
  cursor: default;
}

.page:active {
  color: var(--extra-dark);
}

.page:active svg {
  fill: var(--extra-dark);
}

.nav-right-li {
  background-color: var(--white-opacity-02);
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding: 6px 16px;
}

.icon-search {
  padding: 8px 8px 7px 8px;
  width: 16px;
  height: 17px;
  display: block;
  align-self: center;
  border-radius: 50%;
}

.inner-menu-li:first-child a {
  border-radius: 4px 4px 0 0;
}

.inner-menu-li:last-child a {
  border-radius: 0 0 4px 4px;
}

.inner-menu-li a:hover,
.inner-menu-li a:focus {
  background-color: var(--light-orange);
}

.inner-menu-li a:active {
  background-color: var(--middle-orange);
  box-shadow: none;
}

.login-form a:focus,
.login-form a:hover,
.login-form a:active,
.address-info a:hover,
.address-info a:focus,
.address-info a:active {
  color: var(--orange-link);
  border-bottom: 1px solid var(--orange-underline);
}

.banner-news a:hover,
.banner-news a:focus,
.banner-news a:active {
  color: var(--orange-link);
}

.breadcrumbs a:active,
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.footer-menu a:active,
.footer-menu a:hover,
.footer-menu a:focus,
.htmlacademy-link:active,
.htmlacademy-link:hover,
.htmlacademy-link:focus,
.contacts a:hover,
.contacts a:active,
.contacts a:focus {
  color: var(--light-orange-link);
  border-bottom: 1px solid var(--light-orange-link-opacity);
}

/* .nav-left-li:hover > a,
.nav-right-li:hover > a {
  border: none;
} */

.nav-left-li > a:active {
  background-color: var(--dirty-white);
  box-shadow: inset 0 2px 1px var(--grey-shadow);
  border-radius: 26px;
  padding: 7px 14px;
}

.nav-left-li > a:focus,
.nav-left-li > a:hover:not(.current-menu) {
  background-color: var(--basic-white);
  border-radius: 26px;
  color: var(--extra-dark);
  fill: var(--extra-dark);
  border-color: transparent;
  padding: 7px 14px;
  margin: 0;
}

.nav-right-li:focus,
.nav-right-li:hover {
  background-color: var(--basic-white);
  border-radius: 26px;
  color: var(--extra-dark);
  fill: var(--extra-dark);
}

.icon-nav {
  fill: var(--basic-white);
}

.nav-right-li:focus .icon-nav {
  fill: var(--extra-dark);
}

.nav-right-li:hover .icon-nav {
  fill: var(--extra-dark);
}

.icon-close,
.icon-delete {
  fill: var(--grey-icon-close);
  position: absolute;
}

.icon-close {
  top: 15px;
  right: 15px;
}

.icon-close:hover,
.icon-close:focus,
.icon-close:active,
.icon-delete:hover,
.icon-delete:focus,
.icon-delete:active {
  fill: var(--dirty-orange);
  outline: none;
}

.icon-stroke {
  stroke-opacity: 0.5;
  stroke-width: 2px;
}

.social-icons-a:active .icon-stroke {
  stroke-opacity: 0.7;
}

.icon-letter {
  fill-opacity: 0.8;
}

.social-icons {
  margin: 0;
  padding: 10px 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content;
  grid-column-gap: 8px;
  align-content: center;
}

.footer-menu {
  margin: 0;
  padding: 15px 0 0 22px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, min-content);
  grid-column-gap: 32px;
  grid-row-gap: 5px;
}

.social-icons-a:hover .icon-letter,
.social-icons-a:focus .icon-letter,
.social-icons-a:active .icon-letter {
  fill-opacity: 1;
}

.current-menu {
  background-color: var(--dirty-orange);
  border-radius: 26px;
  color: var(--basic-white);
  padding: 7px 14px;
}

.current-inner-menu {
  background-color: var(--dirty-orange);
  color: var(--basic-white);
  padding: 9px 0 7px 21px;
  cursor: default;
}

.inner-menu {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--extra-dark);
  background-color: var(--basic-white);
  width: 143px;
  position: absolute;
  top: 38px;
  left: -5px;
  border-radius: 4px;
}

.top-nav-left {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  display: flex;
  align-items: center;
}

.top-nav-right {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  display: flex;
  align-items: center;
}

.top-nav-right li {
  position: relative;
}

.icon-next,
.icon-pre {
  fill: var(--basic-white);
}

.icon-pre {
  transform: rotate(-180deg);
}

.page-disable:hover.page::after {
  background-color: transparent;
}

.nav-left-li {
  margin-left: 5px;
  display: flex;
  cursor: pointer;
}

.filter li {
  list-style-type: none;
}

.container-footer li,
.section-about li,
.breadcrumbs li,
.pages li {
  list-style-type: none;
}

.breadcrumbs-li:not(:last-child)::after {
  content: url("../img/icons/breadcrumbs-arrows.svg");
  width: 6px;
  height: 6px;
  padding: 0 7px;
}

.section-about ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.section-about li {
  width: 50%;
  display: flex;
  margin-bottom: 22px;
  margin-left: 0;
}

.pages li:last-child {
  margin-left: 26px;
}

.footer-menu li:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
}

.top-nav-left li:first-child {
  margin-left: 9px;
  position: relative;
}

.inner-menu li:first-child {
  line-height: 18px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.input-field {
  background-color: var(--basic-white);
  border: 1px solid var(--grey-for-input-border);
  border-radius: 4px;
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--extra-dark);
  font-weight: 700;
  height: 44px;
  resize: none;
}

.input-field:hover {
  border: 2px solid var(--grey-for-input-border);
}

.input-field:active,
.input-field:focus {
  outline: none;
  border: 2px solid var(--blue-border-input);
  font-size: 16px;
  line-height: 20px;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: var(--grey-for-input-text);
  font-weight: 400;
}

textarea::-moz-placeholder,
input::-moz-placeholder {
  color: var(--grey-for-input-text);
  font-weight: 400;
}

textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  color: var(--grey-for-input-text);
  font-weight: 400;
}

.made-by-academy p {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.made-by-academy {
  align-content: center;
}

.htmlacademy-logo {
  position: relative;
  display: block;
  width: 108px;
  height: 39px;
  border: none;
  margin-bottom: 5px;
}

.htmlacademy-logo::before {
  content: url("../img/icons/logo-academy.svg");
  display: block;
  width: 108px;
  height: 39px;
  position: absolute;
  top: 0;
  left: 0;
}

.htmlacademy-logo:focus {
  border: none;
}

.indicators-slider {
  position: absolute;
  top: 560px;
  left: -215px;
  line-height: 0;
  z-index: 11;
}

.indicator-active {
  background-color: var(--basic-white);
}

.indicator1:hover,
.indicator2:hover,
.indicator3:hover,
.indicator1:focus,
.indicator2:focus,
.indicator3:focus {
  background-color: var(--white-opacity-04);
}

.container-border {
  background-image: url("../img/bg/post-bg.png");
  border-radius: 16px;
  height: 220px;
  padding: 5px 6px;
  box-sizing: border-box;
}

.banner-subscribe {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: var(--light-grey-bg);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--light-black);
  padding: 24px 10px 35px 20px;
  display: grid;
  grid-template-rows: 1fr min-content;
  height: 100%;
}

.subscribe-button {
  padding: 10px 19px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 10px;
}

.subscribe-form input {
  padding: 12px 7px 10px 13px;
  width: 368px;
  box-sizing: border-box;
}

.search,
.login-form {
  background-color: var(--light-grey-bg);
  box-shadow: 0 20px 20px var(--black-opacity-04);
  border-radius: 4px;
}

.search {
  position: absolute;
  right: 1px;
  top: 35px;
  width: 341px;
  padding: 20px 15px;
  box-sizing: border-box;
}

.search .input-field {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  padding-left: 13px;
}

.login-form {
  width: 241px;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 18px;
  position: absolute;
  right: 0;
  top: 35px;
  padding: 21px 17px 22px 19px;
  display: none;
}

.display-grid {
  display: grid;
}

.header-button {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 26px;
  color: var(--basic-white);
}

.login-form .header-button {
  padding: 15px 25px;
  float: left;
  margin-right: 20px;
}

.login-form .input-field {
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  padding-left: 13px;
  box-sizing: border-box;
}

.contacts {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 3px;
  margin-right: 27px;
}

.contacts-tel {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin-top: 8px;
  border-bottom: 1px solid transparent;
}

.contacts-worktime {
  margin: 0;
}

.container-slider {
  margin: -121px auto 0 auto;
  width: 716px;
  height: 716px;
  position: relative;
  padding: 80px 0 50px;
  box-sizing: border-box;
}

.container-slider::before {
  content: "";
  margin: -121px auto 0 auto;
  width: 716px;
  height: 716px;
  background-color: var(--green-blur);
  position: absolute;
  filter: blur(250px);
  z-index: -10;
}

.slider-field {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.slider-title {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: var(--basic-white);
  position: absolute;
  margin: 0;
  text-align: center;
  top: 315px;
  left: 2px;
}

.slider-element {
  position: relative;
  padding: 0 34px;
}

.container-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 26px;
  margin: -73px 27px 0;
}

.banner h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.banner {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-white);
  border-radius: 16px;
  padding: 17px 22px 22px 16px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  z-index: 1;
}

.banner p {
  margin-top: 16px;
}

.raspberry-banner {
  background: url("../img/bg/raspberry-bg.png") repeat var(--raspberry-color);
}

.choco-banner {
  background: url("../img/bg/choco-bg.png") repeat var(--choco-color);
}

.orange-button {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  background-image:
    linear-gradient(
      180deg,
      var(--orange-button) 0%,
      var(--intense-orange-button) 100%
    );
  box-shadow: 0 2px 2px var(--red-shadow-opacity);
  font-weight: 700;
  color: var(--basic-white);
  text-shadow: 0 2px 5px var(--red-text-shadow);
}

.orange-button:hover,
.orange-button:focus {
  background-image:
    linear-gradient(
      0deg,
      var(--white-opacity-02),
      var(--white-opacity-02)
    ),
    linear-gradient(
      180deg,
      var(--orange-button) 0%,
      var(--intense-orange-button) 100%
    );
  box-shadow: 0 2px 2px var(--red-shadow);
}

.orange-button:active {
  background-image:
    linear-gradient(
      0deg,
      var(--black-opacity-007),
      var(--black-opacity-007)
    ),
    linear-gradient(
      180deg,
      var(--orange-button) 0%,
      var(--intense-orange-button) 100%
    );
  box-shadow: inset 0 2px 2px var(--brown-shadow);
}

.slider-button {
  position: absolute;
  top: 540px;
  left: calc(50% - 139px);
  border-radius: 70px;
  font-size: 32px;
  line-height: 44px;
  z-index: 10;
  padding: 10px 40px;
}

.button-index {
  border-radius: 70px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.banner-button {
  padding: 12px 22px;
  margin-top: 24px;
  margin-left: auto;
}

.most-popular {
  margin: 40px 27px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 26px;
}

.most-popular h3 {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
  text-align: center;
}

.popular-item::before {
  content: url("../img/bg/hit.svg");
  position: absolute;
  left: 0;
}

.item-button {
  position: absolute;
  bottom: -51px;
  left: 33px;
  padding: 10px 16px;
  display: none;
}

.item-card {
  position: relative;
  cursor: pointer;
  text-align: center;
}

.item-card:hover.item-card::after {
  content: "";
  position: absolute;
  left: -13px;
  top: -6px;
  background-color: var(--white-opacity-02);
  box-shadow: 0 20px 20px var(--black-opacity-02);
  border-radius: 4px;
  width: 293px;
  height: 402px;
  z-index: 1;
}

.item-card:hover {
  z-index: 2;
}

.item-card:hover > .item-button {
  display: block;
  z-index: 2;
}

.item-card p {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-white);
  text-shadow: 0 1px 3px var(--text-shadow);
  text-align: start;
  margin: -64px 0 25px 0;
}

/*
  position: absolute;
  left: 0;
  top: 216px;
  margin: 0; */

.item-card span {
  font-size: 30px;
  line-height: 35px;
}

.item-card h3 {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
  border-bottom: 1px solid var(--white-opacity-02);
  display: inline;

  /* margin-bottom: 0; */
}

.item-card .orange-button {
  border-radius: 50px;
  font-size: 18px;
  border: none;
  line-height: 24px;
}

.section-about {
  padding: 24px 23px 8px 20px;
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--extra-dark);
  background: url("../img/bg/wafer-bg.png") repeat var(--beige-bg);
  margin: 40px 27px 0;
  border-radius: 16px;
}

.section-about h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-top: 1px;
  margin-bottom: 16px;
}

.section-about li:nth-child(1)::before {
  content: url("../img/icons/icon-icecream.svg");
  padding-right: 6px;
  margin-top: -9px;
  margin-left: 0;
}

.section-about li:nth-child(2)::before {
  content: url("../img/icons/icon-cow.svg");
  padding-right: 6px;
  margin-top: -9px;
  margin-left: 15px;
}

.section-about li:nth-child(3)::before {
  content: url("../img/icons/icon-leaf.svg");
  padding-right: 6px;
  margin-top: -9px;
  margin-left: 0;
}

.section-about li:nth-child(4)::before {
  content: url("../img/icons/icon-thermometer.svg");
  padding-right: 6px;
  margin-top: -9px;
  margin-left: 15px;
}

.section-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 26px;
  margin: 40px 27px 0;
}

.banner-news {
  background: url("../img/bg/strawberry-bg.png") no-repeat var(--basic-white);
  border-radius: 16px;
  padding: 18px 20px;
  height: 220px;
  box-sizing: border-box;
}

.banner-news h3 {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--extra-dark);
  margin: 0 0 3px 0;
}

.banner-subscribe p {
  margin: 0;
}

.container-map {
  margin: 40px auto 0;
  position: relative;
  height: 430px;
}

.container-map::after {
  content: url("../img/icons/pin.svg");
  position: absolute;
  top: 136px;
  left: 266px;
}

.address-info {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
  background-color: var(--bg-white);
  border-radius: 16px;
  position: absolute;
  top: 62px;
  right: 27px;
  padding: 30px 25px;
  display: grid;
  grid-row-gap: 22px;
}

.address-info p {
  margin: 0;
}

.address-button {
  margin-top: 6px;
}

.container-footer {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
  margin: 0 27px;
  padding: 16px 0 25px 0;
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  display: flex;
  margin: -25px 0 0 27px;
  padding: 0;
}

.catalog-heading {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: var(--basic-white);
  margin: 2px 27px 0;
}

.filter {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  margin: 27px 27px 0;
  width: 870px;
  flex-wrap: wrap;
}

.filter-block {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.filter-block:not(:last-child) {
  margin-bottom: 14px;
}

.filter-option {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--white-opacity-02);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 0 16px;
  margin: 5px 0 0 0;
  display: flex;
  height: 38px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.scale {
  height: 2px;
  background-color: var(--light-grey-opacity-05);
  width: 95%;
}

.bar {
  height: 2px;
  background-color: var(--light-grey);
  width: 60%;
  margin-left: 20px;
}

.toggle {
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  background-color: var(--grey-range-toggle);
  border-radius: 50%;
  position: absolute;
  top: 9px;
}

.toggle-min {
  left: 36px;
}

.toggle-max {
  left: 134px;
}

.select {
  width: 196px;
  display: flex;
  flex-direction: column;
}

.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: var(--basic-white);
}

.select select:focus,
.select select:hover {
  color: var(--basic-black);
  outline: none;
}

.select-label {
  position: relative;
}

.select-label::before {
  content: "";
  background: url("../img/icons/triangle.svg") no-repeat;
  width: 11px;
  height: 10px;
  position: absolute;
  top: 35px;
  left: 171px;
}

.select:hover .select-label::before {
  content: "";
  background: url("../img/icons/triangle-dark.svg") no-repeat;
  width: 11px;
  height: 10px;
}

.price {
  display: flex;
  flex-direction: column;
  width: 218px;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.button-filter {
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: var(--white-opacity-02);
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 9px 33px;
  height: max-content;
  align-self: flex-end;
}

.button-filter:hover {
  background-color: var(--basic-white);
  color: var(--extra-dark);
}

.button-filter:focus {
  outline: none;
}

.button-filter:active {
  outline: none;
  border: none;
  padding: 11px 35px;
  box-shadow: inset 0 2px 1px var(--grey-shadow);
}

.filter-name {
  padding-left: 17px;
}

.pages {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  padding: 0 0 35px 0;
  margin: 80px 27px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--white-opacity-02);
}

.current-page {
  color: var(--extra-dark);
}

.current-page::after {
  content: "";
  background-color: var(--basic-white);
  position: absolute;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  top: -4px;
  left: -8px;
  z-index: -1;
}

.container-modal {
  width: 100%;
  height: 2420px;
  background-color: var(--overlay);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}

.modal {
  background-color: var(--light-grey-bg);
  border-radius: 6px;
  box-sizing: border-box;
  width: 478px;
  position: absolute;
  top: 338px;
  left: 50%;
  margin-left: -239px;
  z-index: 15;
  padding: 15px 25px 27px 24px;
}

.modal p {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--extra-dark);
  margin: 0;
}

.cart {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--extra-dark);
  box-shadow: 0 20px 20px var(--black-opacity-04);
  border-radius: 4px;
  background-color: var(--light-grey-bg);
  position: absolute;
  top: 36px;
  right: 0;
  width: 539px;
  padding: 18px 14px 20px 18px;
  box-sizing: border-box;
}

.cart table {
  border-collapse: collapse;
  width: 100%;
}

.cart .header-button {
  padding: 13px 15px;
  margin-left: auto;
  width: max-content;
  display: block;
  margin-top: 15px;
}

.total-price td {
  text-align: end;
  padding-top: 22px;
}

.cart-item td {
  padding-bottom: 15px;
  position: relative;
}

.cart-item td:nth-child(1) {
  width: 11px;
  top: -7px;
  left: 2px;
}

.cart-item td:nth-child(2) {
  width: 33px;
  top: 0;
  left: 9px;
}

.cart-item td:nth-child(3) {
  width: 216px;
  left: 20px;
  padding-right: 51px;
}

.cart-item td:nth-child(5) {
  left: -9px;
}

.cart-item td:nth-child(7) {
  left: -3px;
}

.cart-item:nth-child(2) td:nth-child(3) {
  top: 8px;
}

.table-price {
  color: var(--light-grey-cart);
  left: -11px;
}

.table-weight {
  color: var(--basic-black);
}

.total-price {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: var(--extra-dark);
}

.total-price::before {
  content: "";
  width: 95%;
  height: 1px;
  background-color: var(--grey-cart-line);
  position: absolute;
  top: 129px;
  left: 14px;
}

.form-feedback {
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-row-gap: 20px;
}

.form-feedback textarea,
.form-feedback input {
  font-family: "Roboto", "Nimbus Sans L", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--extra-dark);
  box-sizing: border-box;
  padding-left: 14px;
}

.form-feedback textarea {
  width: 100%;
  height: 154px;
  padding-top: 11px;
}

.form-feedback input {
  width: 267px;
}

.form-feedback .button-index {
  padding: 10px 24px;
  width: max-content;
  margin-left: auto;
}

.for-suppliers {
  font-weight: 700;
  margin-left: -20px;
}

.icon-heart {
  fill: var(--basic-white);
  vertical-align: middle;
  padding-right: 3px;
}

.for-suppliers:active .icon-heart,
.for-suppliers:hover .icon-heart,
.for-suppliers:focus .icon-heart {
  fill: var(--light-orange-link);
}

.checkbox label::after {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  background: url("../img/icons/checkbox-off.svg") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.radio label::after {
  content: "";
  position: absolute;
  background: url("../img/icons/radio-off.svg") no-repeat;
  display: block;
  width: 22px;
  height: 22px;
  top: -2px;
  left: 0;
  opacity: 0.8;
}

.checkbox:hover label::after {
  opacity: 1;
}

.checkbox-input:focus + label::after {
  opacity: 1;
}

.checkbox {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.checkbox:not(:last-child) {
  margin-right: 22px;
}

.checkbox label {
  cursor: pointer;
  margin-left: 8px;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  left: 0;
}

.checkbox-input:checked + label::after {
  width: 24px;
  height: 20px;
  background: url("../img/icons/checkbox-on.svg") no-repeat;
}

.checkbox-input:disabled + label::after,
.radio-input:disabled + label::after {
  opacity: 0.4;
}

.radio:hover label::after {
  opacity: 1;
}

.radio-input:focus + label::after {
  opacity: 1;
}

.radio {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.radio:not(:last-child) {
  margin-right: 20px;
}

.radio label {
  cursor: pointer;
  margin-left: 8px;
}

.radio-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  left: 0;
}

.radio-input:checked + label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background: url("../img/icons/radio-on.svg") no-repeat;
}
