body {
  margin: 0;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background-color: #849D8F;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body li {
  list-style-type: none;
}

body ul {
  margin: 0;
  padding: 0;
}

body button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none;
}

/* .container-top-nav {
  display: flex;
  justify-content: space-between;
  height: 64px;
  margin: 0px 27px 0 27px;
  padding-top: 9px;
  position: relative;
  z-index: 100;
} */
/*
.top-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: stretch;
} */
.top-nav-left {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  /* display: flex;
  align-items: stretch; */
}

.top-nav-right {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  /* display: flex;
  align-items: center; */
}

/* .top-nav-left li {
  margin-left: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
} */
/* .top-nav-left li:first-child {
  margin-left: 24px;
} */
/* .top-nav-left a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
} */
/* .top-nav-right li {
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 0 16px;
} */
/*
.top-nav-right li svg {
  padding: 6px 8px 6px 0;
  margin: 0;
  vertical-align: middle;
} */
/* .top-nav-right li:first-child {
  padding: 8px;
} */
/* .top-nav-right li:first-child svg {
  padding: 0;
} */
.contacts {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  /* float: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 27px;
  margin-left: auto; */
}

.contacts-tel {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #FFFFFF;
  /* margin: 8px 0 0 0; */
}

/* .contacts-worktime {
  margin: 0;
} */
/* .container-slider {
  margin: -73px auto;
  width: 716px;
  height: 716px;
  background-color: rgba(215, 242, 227, 0.75); */
/* надо это заблюрить потом  */
/* z-index: 10;
  position: relative;
  padding: 83px 34px 49px;
  box-sizing: border-box; */
/* с overflow: hidden; съезжает  влево*/
/* overflow: hidden; */
}

/*
.slider-field {
  display: flex;
  flex-direction: row;
} */
/* .container-banner {
  display: flex;
  justify-content: space-between;
  margin: 0 27px;
  position: relative;
  z-index: 100;
} */
.banner h3 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  /* margin: 16px 0; */
}

.banner {
  font-family: "Roboto"
    font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  /* min-height: 229px;
  padding: 0 30px 0 16px;
  border-radius: 16px;
  position: relative; */
}

.raspberry-banner {
  background: url("../img/bg/raspberry-bg.png") no-repeat;
}

.choco-banner {
  background: url("../img/bg/choco-bg.png") no-repeat;
}

.orange-button {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  font-weight: bold;
  color: #FFFFFF;
}

/* .button-banner {
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding: 15px 22px 16px;
  position: absolute;
  right: 22px;
  bottom: 22px;
  z-index: 5;
} */
/* .most-popular {
  display: flex;
  justify-content: space-between;
  margin: 40px 27px 0;
} */
.most-popular h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
}

/*
.popular-item::before {
  content: url("../img/bg/hit.svg");
  position: absolute;
  left: 0;
} */
/* .item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  position: relative;
} */
.item-card p {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  color: #FFFFFF;
  /* text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  position: absolute;
  left: 0;
  top: 216px;
  margin: 0; */
}

.item-card h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: underline solid rgba(255, 255, 255, 0.2);
  /* margin-bottom: 0; */
}

.section-about {
  /* display: flex;
  flex-direction: column;
  padding: 24px 23px 3px 20px; */
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  background: url("../img/bg/wafer-bg.png") repeat;
  /* margin: 40px 27px 0;
  border-radius: 16px; */
}

.section-about h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  /* margin-top: 0; */
}

/* .section-about ul {
  display: flex;
  flex-wrap: wrap;
} */
/* .section-about li {
  width: 50%;
  display: flex;
  margin-bottom: 33px;
} */
/* .section-about li:nth-child(1)::before {
  content: url("../img/icons/icon-icecream.svg");
  padding-right: 6px;
  margin-top: -14px;
  margin-left: 20px;
} */
/*
.section-about li:nth-child(2)::before {
  content: url("../img/icons/icon-cow.svg");
  padding-right: 6px;
  margin-top: -14px;
  margin-left: 26px;
} */
/* .section-about li:nth-child(3)::before {
  content: url("../img/icons/icon-leaf.svg");
  padding-right: 6px;
  margin-top: -14px;
  margin-left: 20px;
} */
/* .section-about li:nth-child(4)::before {
  content: url("../img/icons/icon-thermometer.svg");
  padding-right: 6px;
  margin-top: -14px;
  margin-left: 26px;
} */
/* .section-news {
  display: flex;
  margin: 40px 27px 0;
} */
/* .section-news article:first-of-type {
  margin-right: 26px;
} */
.banner-news {
  background: url("../img/bg/strawberry-bg.png") no-repeat;
  /* padding: 23px 20px;
  border-radius: 16px;
  flex-grow: 1; */
}

.banner-news h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  /* margin-top: 0; */
}

.banner-news a {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline solid;
}

.banner-subscribe {
  background: url("../img/bg/post-bg.png") no-repeat;
  /* не получется цвет фон на фон, еще почитаю как сделать  */
  /* background-color: #F8F7F4; */
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #5A5A5A;
  /* border-radius: 16px;
  flex-grow: 1;
  padding: 34px 22px 0px 26px; */
}

/* .banner-subscribe p {
  margin: 0;
} */
/*
.container-map {
  margin: 40px auto;
  text-align: center;
  position: relative;
} */
/* .map {
  width: 100%;
} */
.address-info {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #FEFEFE;
  /* border-radius: 16px;
  position: absolute;
  top: 62px;
  right: 27px; */
}

.address-info span,
.address-info a {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.container-footer {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  /* height: 103px;
  display: flex; */
}

/* Каталог */
.breadcrumbs {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.catalog-heading {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #FFFFFF;
}

.filter {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.filter-option {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.pages {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.modal p {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.cart {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.total-prise {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: #323232;
}

.form-feedback input {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #999999;
}
